

h1 {
    text-align: center;
    
}

p {
    font-size: 20px;
    font-weight: bold;
   color: #384730;
   /* color: #fff; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


