.contact-form {
  width: 100%;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-form ul {
  padding: 5px;
  margin: 0;
  gap: 5px;
}

.contact-form li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

#user_name,
#user_email,
#user_subject,
#message {
  width: 100%;
  border: 0;
  background-color: #53c5d3;
  color: #fff;
  font-size: 20px;
}

h2 {
  text-align: center;
}
