.container {
  background-color: #7277d1;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #000;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
  }
  li {
    margin: 2px 0;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
}
